* {
  margin: 0;
  padding: 0;
}

.wrapperOfPage {
  height: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}

.inputName {
  height: 4vw;
  width: 60%;
  margin-top: 2vw;
}

.inputText {
  height: 5vw;
  width: 60%;
  margin-top: 2vw;
}

.navOfPage {
  width: 60%;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 3vw;
  display: flex;
  align-items: center;
  margin-left: 16vw;
}

.linkBack {
  background-color: darkgray;
  color: black;
  font-size: 2vw;
}
