h1 {
  text-align: center;
  font-size: 4vw;
  margin-top: 2vw;
}

.notesField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes {
  width: 80%;
  margin-top: 3vw;
}

.note {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
  background-color: darkgrey;
}

.note > div > a {
  font-size: 3vw;
}

.image {
  width: 2vw;
  height: 2vw;
  margin-right: 2vw;
}

.linkToNote {
  width: 60%;
  font-size: 3vw;
  color: black;
}
