*{
  font-size: 18px;
  color:black
  
}

body{
  display: flex;
  justify-content: center;
}

nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#root{
  margin-top: 2vw;
  width: 80vw;
}

.user{
 
  color:black;
}

.userDate>p{
  font-size: 15px;
  color: gray;
}

.album{
  display: flex;
  align-items: center;
}

.album>img{
   width: 20px;
   height: 20px;
}

.link-active{
  color:gray;
}

