* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4vw;
  margin-top: 2vw;
}

.about > p {
  text-align: center;
  font-size: 3vw;
  margin-top: 2vw;
}

.link {
  width: 20vw;
  height: 4vw;
  background-color: darkgray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  margin-top: 2vw;
}
